<template name="mySettingsBox">

  <div class="title size-m">
    <h1>Settings</h1>
  </div>

  <form id="settingsBox" class="sprawl-box size-m">
    <fieldset class="box-content rounded">
      <section>
          <i class="fa fa-power-off fa-lg" style="float:left; margin-top:8px"></i>
          <label class="h2 toggle state-success" style="padding-left:30px"><input type="checkbox" name="settings-available-toggle" checked=""><i></i>Available</label>
      </section>
      <hr>
      <br>
      <section>
          <i class="fa fa-bell-o fa-lg" style="float:left; margin-top:7px"></i>
          <label class="h2 toggle state-success" style="padding-left:30px"><input type="checkbox" name="settings-pushNotifications-toggle" checked=""><i></i>Push Notifications</label>
      </section>
      <hr>
      <br>
      <section>
          <i class="fa fa-envelope-o fa-lg" style="float:left; margin-top:7px"></i>
          <label class="h2 toggle state-success" style="padding-left:30px"><input type="checkbox" name="settings-emailNotifications-toggle" checked=""><i></i>Email Notifications</label>
      </section>
      <hr>
      <br>
      <section>
          <i class="fa fa-map-marker fa-lg" style="float:left; margin-top:7px; padding-left:4px"></i>
          <label class="h2 toggle state-success" style="padding-left:30px"><input type="checkbox" name="settings-currentLocation-toggle" checked=""><i></i>Allow GPS Location</label>
      </section>
    </fieldset>
  </form>

</template>
