@import "/client/styles/colors.import.less";

/* ==========================================================================
Sprawl Box Styles
=========================================================================== */
.sprawl-box {
	margin: 0px auto 24px auto;
	outline: none;
	font-size: 13px;
	line-height: 1.55;
	border-width: 1px;
	border-style: solid;
	border-top-color: rgb(229, 230, 233);
	border-right-color: rgb(223, 224, 228);
	border-bottom-color: rgb(208, 209, 213);
	border-left-color: rgb(223, 224, 228);
	border-radius:3px;
}
.sprawl-box header {
	display: block;
	text-align: center;
	width: auto;
	padding: 20px 20px 19px 20px;
	background-color: #4071A4;
	font-size: 20px;
	color: @color1;
}
.sprawl-box fieldset {
	display: block;
	padding: 20px 20px 0px;
	border: none;
	/*background: rgba(255,255,255,.9);*/
}
.sprawl-box fieldset + fieldset {
	border-top: 1px solid @color2;
}
.sprawl-box section {
	padding-bottom: 20px;
}
.sprawl-box footer {
	display: block;
	padding: 10px 20px 20px;
	border-top: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
}
.sprawl-box footer:after {
	content: '';
	display: table;
	clear: both;
}
.sprawl-box .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
	font-weight: normal;
}
.sprawl-box .label.col {
	margin: 0;
	padding-top: 10px;
}

.note {
	padding: 0 1px;
	font-size: 11px;
	line-height: 15px;
	color: @color3;
}

.sprawl-box .input,
.sprawl-box .select,
.sprawl-box .textarea,
.sprawl-box .radio,
.sprawl-box .checkbox,
.sprawl-box .details,
.sprawl-box .toggle,
.sprawl-box .button {
	position: relative;
	display: block;
}

.sprawl-box .input input,
.sprawl-box .select select,
.sprawl-box .textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	background: @color1;
	font-size: 13px;
	line-height: 19px;
	font-weight: normal;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.sprawl-box .select select {
	padding: 5px 6px;
}
.sprawl-box .progress {
	float: right;
	margin-top: 10px;
	line-height: 39px;
	color: #232323;
}


/**/
/* captcha inputs */
/**/
.sprawl-box .input-captcha img {
	position: absolute;
	top: 2px;
	right: 2px;
	border-left: 1px solid @color2;
}

/**/
/* file inputs */
/**/
.sprawl-box .input-file .button {
	position: absolute;
	top: 4px;
	right: 4px;
	float: none;
	height: 31px;
	margin: 0;
	padding: 0 20px;
	font-size: 13px;
	line-height: 31px;
}
.sprawl-box .input-file .button:hover {
	box-shadow: none;
}
.sprawl-box .input-file .button input {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	font-size: 25px;
	cursor: pointer;
	opacity: 0;
}

/**/
/* selects */
/**/
.sprawl-box .select i {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 8px;
	height: 11px;
	background: @color1;
	box-shadow: 0 0 0 12px @color1;
	pointer-events: none;
}
.sprawl-box .select i:after,
.sprawl-box .select i:before {
	content: '';
	position: absolute;
	right: 0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.sprawl-box .select i:after {
	bottom: 0;
	border-top: 4px solid @color4;
}
.sprawl-box .select i:before {
	top: 0;
	border-bottom: 4px solid @color4;
}
.sprawl-box .select-multiple select {
	height: auto;
}

/**/
/* textareas */
/**/
.sprawl-box .textarea textarea {
	height: auto;
	resize: none;
}
.sprawl-box .textarea-resizable textarea {
	resize: vertical;
}
.sprawl-box .textarea-expandable textarea {
	height: 39px;
}
.sprawl-box .textarea-expandable textarea:focus {
	height: auto;
}


/**/
/* radios and checkboxes */
/**/
.sprawl-box .radio,
.sprawl-box .checkbox,
.sprawl-box .details {
	margin-bottom: 5px;
	padding-left: 27px;
	line-height: 20px;
}
.sprawl-box .radio,
.sprawl-box .checkbox {
	cursor: pointer;
}
.sprawl-box .radio:last-child,
.sprawl-box .checkbox:last-child,
.sprawl-box .details:last-child {
	margin-bottom: 0;
}
.sprawl-box .radio input,
.sprawl-box .checkbox input {
	position: absolute;
	left: -9999px;
}
.sprawl-box .radio i,
.sprawl-box .checkbox i,
.sprawl-box .details i {
	position: absolute;
	top: 0px;
	left: 0;
	display: block;
	width: 13px;
	height: 13px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	background: @color1;
}

.sprawl-box .details {
	cursor: inherit;
}

.sprawl-box .details i {
	border:none;
	padding-top: 3px;
}
.sprawl-box .tag {
	height:45px;
	float:right;
	margin-top:-21px;
	margin-right:-2px;
}
.sprawl-box .details .fa-slack {
 padding-top: 4px;
}
.sprawl-box .details .fa-clock-o {
}
.sprawl-box .details .fa-map-marker {
	padding-left: 2px;
}
.sprawl-box .details .pricetag{
	padding-left:2px;
}
.sprawl-box .details .fa-trash-o {
	padding-left: 2px;
}
.sprawl-box .details .fa-paperclip {
	padding-top: 5px;
	padding-left: 1px;
}
.sprawl-box .details .mirrowH{
	padding-top:0px!important;
	padding-bottom:2px!important;
}

.sprawl-box .radio i {
	border-radius: 50%;
}
.sprawl-box .radio input + i:after,
.sprawl-box .checkbox input + i:after {
	position: absolute;
	display: block;
	opacity: 0;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.sprawl-box .radio input + i:after {
	content: '';
	top: 3px;
	left: 3px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
}
.sprawl-box .checkbox input + i:after {
	content: '\f00c';
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.sprawl-box .radio input:checked + i:after,
.sprawl-box .checkbox input:checked + i:after {
	opacity: 1;
}
.sprawl-box .inline-group {
	margin: 0 -30px -4px 0;
}
.sprawl-box .inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.sprawl-box .inline-group .radio,
.sprawl-box .inline-group .checkbox,
.sprawl-box .inline-group .details {
	float: left;
	margin-right: 25px;
}
.sprawl-box .inline-group .radio:last-child,
.sprawl-box .inline-group .checkbox:last-child,
.sprawl-box .inline-group .details:last-child  {
	margin-bottom: 4px;
}

/**/
/* toggles */
/**/
.sprawl-box .toggle {
	margin-bottom: 4px;
	padding-right: 61px;
	font-size: 15px;
	line-height: 27px;
	cursor: pointer;
}
.sprawl-box .toggle input {
	position: absolute;
	left: -9999px;
}
.sprawl-box .toggle i {
	content: '';
	position: absolute;
	top: 4px;
	right: 0;
	display: block;
	width: 49px;
	height: 17px;
	border-width: 2px;
	border-style: solid;
	border-radius: 12px;
	background: @color1;
}
.sprawl-box .toggle i:after {
	content: 'OFF';
	position: absolute;
	top: 2px;
	right: 8px;
	left: 8px;
	font-style: normal;
	font-size: 10px;
	line-height: 13px;
	font-weight: 700;
	text-align: left;
	color: #5f5f5f;
}
.sprawl-box .toggle i:before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 4px;
	right: 4px;
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	opacity: 1;
	-ms-transition: right 0.2s;
	-moz-transition: right 0.2s;
	-webkit-transition: right 0.2s;
}
.sprawl-box .toggle input:checked + i:after {
	content: 'ON';
	text-align: right;
}
.sprawl-box .toggle input:checked + i:before {
	right: 36px;
}

/**/
/* ratings */
/**/
.sprawl-box .rating {
	margin-bottom: 4px;
	font-size: 15px;
	line-height: 20px;
}
.sprawl-box .rating:last-child {
	margin-bottom: 0;
}
.sprawl-box .rating input {
	position: absolute;
	left: -9999px;
}
.sprawl-box .rating label {
	display: block;
	float: right;
	height: 17px;
	margin-top: 5px;
	padding: 0 2px;
	font-size: 17px;
	line-height: 17px;
	/*cursor: pointer;*/
}

/**/
/* buttons */
/**/
.sprawl-box .button {
	height: 39px;
	width:100%;
	overflow: hidden;
	margin: 17px 0 0 0px;
	padding: 0 25px;
	outline: none;
	border: 0;
	font-size: 15px;
	line-height: 39px;
	text-decoration: none;
	background-color: #4071A4;
	color: @color1;
	cursor: pointer;
	opacity: 0.8;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}

.sprawl-box .button-secondary {
	background-color: #b3b3b3;
	margin-left:0px;
}

.sprawl-box .button:hover {
	opacity: 1;
}

.sprawl-box .button-uploading {
	position: relative;
	color: transparent;
	cursor: default;
}
.sprawl-box .button-uploading:after {
	content: 'Uploading...';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: @color1;
	-o-animation: blink 1s linear infinite;
	-ms-animation: blink 1s linear infinite;
	-moz-animation: blink 1s linear infinite;
	-webkit-animation: blink 1s linear infinite;
}
@-o-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-ms-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-moz-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-webkit-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}

/**/
/* icons */
/**/
.sprawl-box .icon-append,
.sprawl-box .icon-prepend {
	position: absolute;
	top: 5px;
	width: 29px;
	height: 29px;
	font-size: 15px;
	line-height: 29px;
	text-align: center;
}
.sprawl-box .icon-append {
	right: 5px;
	padding-left: 3px;
	border-left-width: 1px;
	border-left-style: solid;
}
.sprawl-box .icon-prepend {
	left: 5px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-style: solid;
}
.sprawl-box .input .icon-prepend + input,
.sprawl-box .textarea .icon-prepend + textarea {
	padding-left: 46px;
}
.sprawl-box .input .icon-append + input,
.sprawl-box .textarea .icon-append + textarea {
	padding-right: 46px;
}

.sprawl-box .input .icon-prepend + .icon-append + input,
.sprawl-box .textarea .icon-prepend + .icon-append + textarea {
	padding-left: 46px;
}

/**/
/* grid */
/**/
.sprawl-box .row {
	margin: 0 -15px;
}
.sprawl-box .row:after {
	content: '';
	display: table;
	clear: both;
}
.sprawl-box .col {
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.sprawl-box .col-1 {
	width: 8.33%;
}
.sprawl-box .col-2 {
	width: 16.66%;
}
.sprawl-box .col-3 {
	width: 25%;
}
.sprawl-box .col-4 {
	width: 33.33%;
}
.sprawl-box .col-5 {
	width: 41.66%;
}
.sprawl-box .col-6 {
	width: 50%;
}
.sprawl-box .col-7 {
	width: 58.33%;
}
.sprawl-box .col-8 {
	width: 66.67%;
}
.sprawl-box .col-9 {
	width: 75%;
}
.sprawl-box .col-10 {
	width: 83.33%;
}
.sprawl-box .col-11 {
	width: 91.66%;
}
.sprawl-box .col-12 {
	width: 100%;
}
@media screen and (max-width: 600px) {
	.sprawl-box .col {
		float: none;
		width: 100%;
	}
}

/**/
/* tooltips */
/**/
.sprawl-box .tooltip {
	position: absolute;
	z-index: 1;
	left: -9999px;
	padding: 2px 8px 3px;
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	background: rgba(0,0,0,0.9);
	color: @color1;
	opacity: 0;
	-ms-transition: margin 0.3s, opacity 0.3s;
	-moz-transition: margin 0.3s, opacity 0.3s;
	-webkit-transition: margin 0.3s, opacity 0.3s;
}
.sprawl-box .tooltip:after {
	content: '';
	position: absolute;
}
.sprawl-box .input input:focus + .tooltip,
.sprawl-box .textarea textarea:focus + .tooltip {
	opacity: 1;
}

.sprawl-box .tooltip-top-right {
	bottom: 100%;
	margin-bottom: 15px;
}
.sprawl-box .tooltip-top-right:after {
	top: 100%;
	right: 16px;
	border-top: 4px solid rgba(0,0,0,0.9);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.sprawl-box .input input:focus + .tooltip-top-right,
.sprawl-box .textarea textarea:focus + .tooltip-top-right {
	right: 0;
	left: auto;
	margin-bottom: 5px;
}

.sprawl-box .tooltip-top-left {
	bottom: 100%;
	margin-bottom: 15px;
}
.sprawl-box .tooltip-top-left:after {
	top: 100%;
	left: 16px;
	border-top: 4px solid rgba(0,0,0,0.9);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.sprawl-box .input input:focus + .tooltip-top-left,
.sprawl-box .textarea textarea:focus + .tooltip-top-left {
	right: auto;
	left: 0;
	margin-bottom: 5px;
}

.sprawl-box .tooltip-right {
	top: 9px;
	white-space: nowrap;
	margin-left: 15px;
}
.sprawl-box .tooltip-right:after {
	top: 6px;
	right: 100%;
	border-top: 4px solid transparent;
	border-right: 4px solid rgba(0,0,0,0.9);
	border-bottom: 4px solid transparent;
}
.sprawl-box .input input:focus + .tooltip-right,
.sprawl-box .textarea textarea:focus + .tooltip-right {
	left: 100%;
	margin-left: 5px;
}

.sprawl-box .tooltip-left {
	top: 9px;
	white-space: nowrap;
	margin-right: 15px;
}
.sprawl-box .tooltip-left:after {
	top: 6px;
	left: 100%;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid rgba(0,0,0,0.9);
}
.sprawl-box .input input:focus + .tooltip-left,
.sprawl-box .textarea textarea:focus + .tooltip-left {
	right: 100%;
	left: auto;
	margin-right: 5px;
}

.sprawl-box .tooltip-bottom-right {
	top: 100%;
	margin-top: 15px;
}
.sprawl-box .tooltip-bottom-right:after {
	bottom: 100%;
	right: 16px;
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(0,0,0,0.9);
	border-left: 4px solid transparent;
}
.sprawl-box .input input:focus + .tooltip-bottom-right,
.sprawl-box .textarea textarea:focus + .tooltip-bottom-right {
	right: 0;
	left: auto;
	margin-top: 5px;
}

.sprawl-box .tooltip-bottom-left {
	top: 100%;
	margin-top: 15px;
}
.sprawl-box .tooltip-bottom-left:after {
	bottom: 100%;
	left: 16px;
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(0,0,0,0.9);
	border-left: 4px solid transparent;
}
.sprawl-box .input input:focus + .tooltip-bottom-left,
.sprawl-box .textarea textarea:focus + .tooltip-bottom-left {
	right: auto;
	left: 0;
	margin-top: 5px;
}

/**/
/* normal state */
/**/
.sprawl-box .input input,
.sprawl-box .select select,
.sprawl-box .textarea textarea,
.sprawl-box .radio i,
.sprawl-box .checkbox i,
.sprawl-box .toggle i,
.sprawl-box .icon-append,
.sprawl-box .icon-prepend {
	border-color: @color2;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.sprawl-box .toggle i:before {
	background-color: @color6;
}
.sprawl-box .rating label {
	color: @color4;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

.sprawl-box .icon-append,
.sprawl-box .icon-prepend {
	color: @color3;
}

/**/
/* hover state */
/**/
.sprawl-box .input:hover input,
.sprawl-box .select:hover select,
.sprawl-box .textarea:hover textarea,
.sprawl-box .radio:hover i,
.sprawl-box .checkbox:hover i,
// .sprawl-box .toggle:hover i,
.sprawl-box .ui-slider-handle:hover {
	border-color: @color6;
}
.sprawl-box .rating input + label:hover,
.sprawl-box .rating input + label:hover ~ label {
	// color: #fd7337;
	color: @color6;
}

/**/
/* focus state */
/**/
.sprawl-box .input input:focus,
.sprawl-box .select select:focus,
.sprawl-box .textarea textarea:focus,
.sprawl-box .radio input:focus + i,
.sprawl-box .checkbox input:focus + i {
	border-color: @color6;
}

/**/
/* checked state */
/**/
.sprawl-box .radio input + i:after {
	background-color: @color6;
}
.sprawl-box .checkbox input + i:after {
	color: @color6;
}
.sprawl-box .radio input:checked + i,
.sprawl-box .checkbox input:checked + i,
.sprawl-box .toggle input:checked + i {
	border-color: @color6;
}
.sprawl-box .rating input:checked ~ label {
	color: @color6;
}

/**/
/* error state */
/**/
.sprawl-box .state-error input,
.sprawl-box .state-error select,
.sprawl-box .state-error textarea,
.sprawl-box .radio.state-error i,
.sprawl-box .checkbox.state-error i,
.sprawl-box .toggle.state-error i {
	background: #fff0f0;
}
.sprawl-box .state-error select + i {
	background: #fff0f0;
	box-shadow: 0 0 0 12px #fff0f0;
}
.sprawl-box .toggle.state-error input:checked + i {
	background: #fff0f0;
}
.sprawl-box .state-error + em {
	display: block;
	margin-top: 6px;
	padding: 0 1px;
	font-style: normal;
	font-size: 11px;
	line-height: 15px;
	color: #ee9393;
}
.sprawl-box .rating.state-error + em {
	margin-top: -4px;
	margin-bottom: 4px;
}

/**/
/* success state */
/**/
.sprawl-box .state-success input,
.sprawl-box .state-success .choosen,
.sprawl-box .state-success select,
.sprawl-box .state-success textarea,
.sprawl-box .radio.state-success i,
.sprawl-box .checkbox.state-success i,
.sprawl-box .toggle.state-success i {
	background: @color1;
}
.sprawl-box .state-success select + i {
	background: @color1;
	box-shadow: 0 0 0 12px @color1;
}
.sprawl-box .toggle.state-success input:checked + i {
	background: @color1;
}
.sprawl-box .state-success + em {
	display: block;
	margin-top: 6px;
	padding: 0 1px;
	font-style: normal;
	font-size: 11px;
	line-height: 15px;
	color: #ee9393;
}
.sprawl-box .note-success {
	color: @color8;
}

/**/
/* disabled state */
/**/
.sprawl-box .input.state-disabled input,
.sprawl-box .select.state-disabled,
.sprawl-box .textarea.state-disabled,
.sprawl-box .radio.state-disabled,
.sprawl-box .checkbox.state-disabled,
.sprawl-box .toggle.state-disabled,
.sprawl-box .button.state-disabled {
	cursor: default;
	opacity: 0.5;
}
.sprawl-box .input.state-disabled:hover input,
.sprawl-box .select.state-disabled:hover select,
.sprawl-box .textarea.state-disabled:hover textarea,
.sprawl-box .radio.state-disabled:hover i,
.sprawl-box .checkbox.state-disabled:hover i,
.sprawl-box .toggle.state-disabled:hover i {
	border-color: @color2;
}

/**/
/* submited state */
/**/
.sprawl-box .message {
	display: none;
	color: @color8;
}
.sprawl-box .message i {
	display: block;
	margin: 0 auto 20px;
	width: 81px;
	height: 81px;
	border: 1px solid @color8;
	border-radius: 50%;
	font-size: 25px;
	line-height: 81px;
}
.sprawl-box.submited fieldset,
.sprawl-box.submited footer {
	display: none;
}
.sprawl-box.submited .message {
	display: block;
	padding: 20px 20px;
	background: rgba(255,255,255,.9);
	/*font: 300 18px/27px 'Open Sans', Helvetica, Arial, sans-serif;*/
	font-size: 18px;
	line-height: 27px;
	text-align: center;
}

/**/
/* datepicker */
/**/
.ui-datepicker {
	display: none;
	padding: 10px 12px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	text-align: center;
	color: @color4;
}
.ui-datepicker a {
	color: @color4;
}

.ui-datepicker-header {
	position: relative;
	margin: -10px -12px 10px;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-size: 15px;
	line-height: 27px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	top: 0;
	display: block;
	width: 47px;
	height: 47px;
	font-size: 15px;
	line-height: 47px;
	text-decoration: none;
	cursor: pointer;
}
.ui-datepicker-prev {
	left: 0;
}
.ui-datepicker-next {
	right: 0;
}
.ui-datepicker-calendar {
	border-collapse: collapse;
	font-size: 13px;
	line-height: 27px;
}
.ui-datepicker-calendar th {
	color: #999;
	text-align: center;
}
.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
	display: block;
	width: 31px;
	margin: auto;
	text-decoration: none;
	color: @color4;
}
.ui-datepicker-calendar a:hover {
	background: rgba(0,0,0,.05);
}
.ui-datepicker-calendar span {
	color: #bfbfbf;
}
.ui-datepicker-today a {
	font-weight: 700;
}
.ui-datepicker-calendar .ui-state-active {
	background: rgba(0,0,0,.05);
	cursor: default;
}
.ui-datepicker-inline {
	border: 2px solid @color2;
	background: @color1;
	box-shadow: none;
}
.ui-datepicker-inline .ui-datepicker-header {
	line-height: 47px;
}
.ui-datepicker-inline .ui-datepicker-calendar {
	width: 100%;
}

/**/
/* slider */
/**/
.sprawl-box .ui-slider {
	position: relative;
	height: 3px;
	border: 2px solid @color2;
	background: @color1;
	margin: 12px 6px 26px;
}
.sprawl-box .ui-slider-handle {
	position: absolute;
	width: 15px;
	height: 15px;
	margin: -8px 0 0 -8px;
	border: 2px solid @color2;
	outline: none;
	background: @color1;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}

/**/
/* modal */
/**/
.sprawl-box-modal {
	position: fixed;
	z-index: 1;
	display: none;
	width: 400px;
}
.sprawl-box-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}

/**/
/* bootstrap compatibility */
/**/
.sprawl-box *,
.sprawl-box *:after,
.sprawl-box *:before {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}
.sprawl-box .label {
	border-radius: 0;
	font-size: 100%;
	text-align: left;
	white-space: normal;
	color: inherit;
}
.sprawl-box .radio,
.sprawl-box .checkbox,
.sprawl-box .details  {
	font-weight: 400;
}
.sprawl-box .radio + .radio,
.sprawl-box .checkbox + .checkbox,
.sprawl-box .details + .details  {
  margin-top: 0;
}
