@import "/client/styles/colors.import.less";

/* ==========================================================================
Global Html Styles
=========================================================================== */
html {
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	width: 100%;
	font-size: 100%;
	overflow-x: hidden;
}
body {
	// background-color: @color5;
	// background-color: #f1f1f1;
	background-color: #e9eaed;
	color: @color4;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	font-size: 13px;
	line-height: 1.55;
}
a {
	color: @color6;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	&:focus {
		color: @color6;
		outline: none;
		text-decoration: none;
	}
	&:active {
		color: @color6;
		outline: none;
		text-decoration: none;
	}
	&:hover {
		color: @color6;
		outline: none;
		text-decoration: none;
	}
}
h1 {
	font-size: 2em;
	font-weight: normal;
	margin: 0.83em 0;
}
h2 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.83em 0;
}
h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
h4 {
	font-size: 1em;
	margin: 1.33em 0;
}
h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}
h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

/* ==========================================================================
Helper classes
=========================================================================== */
.centered {
	display: block;
  margin-left: auto;
  margin-right: auto
}
.nopadding {
	margin: 0 !important;
	padding: 0 !important;
}
.nomargin {
	margin: 0 !important;
}
.rotate {
	-moz-transform: rotate(34deg);
	-ms-transform: rotate(34deg);
	-o-transform: rotate(34deg);
	-webkit-transform: rotate(34deg);
	transform: rotate(19deg);
}
.mirrow {
	transform: scaleX(-1);
}
.mirrowH {
	transform: scaleY(-1);
}
.rounded {
	border-radius:3px;
}
.rounded-top {
	border-radius:3px 3px 0 0;
}
.rounded-bottom {
	border-radius:0 0 3px 3px;
}

/* ==========================================================================
Site Structure
=========================================================================== */
.container {
	padding: 0;
}
.content {
	margin: 39px 0 46px 0;
}
.footer {
	width:100%;
	padding-bottom:80px;
	text-align: center;
	p {
		margin-bottom:0;
		color:@color3;
	}
}

.popup {
	max-width: 450px;
	margin: 0px auto;
	padding: 0px;
}
.size-m {
	max-width: 650px;
	// margin: 0px auto;
	padding: 0px;
}
.size-l {
	margin: 0px auto;
	padding: 0px;
}

.border-blue {
	border-left: solid 4px @color5!important;
}
.border-green {
	border-left: solid 4px @color8!important;
}
.border-pink {
	border-left: solid 4px @color9!important;
}
.border-orange {
	border-left: solid 4px @color10!important;
}


/* ==========================================================================
Floating Button
=========================================================================== */
.floatingButton {
	position:fixed;
	bottom:56px;
	right:16px;
	width:56px;
	height:56px;
	border-radius:100%;
	z-index: 999999;
	padding:0;
	border:none;
	outline:none;
	cursor: pointer;
	color:#FFF;
	// box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	i {
		margin:16px;
	}
}
#btnLogout {
	background-color:@color5;
}

/* ==========================================================================
DEV: Other Styles
=========================================================================== */
.title {
	margin:24px auto!important;
	text-align: center;
}

.meteor-status {
	text-align: center!important;
	padding:5px!important;
	cursor: pointer!important;
}

.meteor-status a {
	position: absolute!important;
	right:20px!important;
	color:@color6!important;
}

.myAccountBox- {
	cursor: pointer;
	padding: 0!important;
	width: 100px!important;
	height: 100px!important;
}
.myFileInput {
	padding: 0!important;
	border: 0!important;
}
.box-null {
	background:@color1!important;
	padding:137px 20px!important;
	text-align:center!important;
}
.popup-close {
	text-align:right;
	margin-top:-5px;
	margin-bottom:-18px;
	a {
		margin-right:-20px;
		color:@color3;
		font-size:15px;
		padding:18px 20px;
	}
	a:hover {
		color: @color4;
	}
}
.box-content {
	background:@color1!important;
}

.box-content-backTop {
	text-align: right;
	margin-bottom:-6px;
}

.box-item {
	cursor:pointer;
	background:@color1!important;
}
.box-item-declined,
.box-item-deleted {
	text-decoration: line-through!important;
}
.box-item-details  {
	padding-bottom:16px;
	float:left;
}

.box-button {
	background-color: @color1!important;
}

.delete-item {
  padding:8px 10px;
  margin-right:-10px;
  cursor:pointer;
  float:right;
	color:@color3;
}
.delete-item:hover {
	color:@color4;
}
.goto-item {
	margin-top:-22px;
	float:right;
	cursor:pointer;
	color: @color3;
}
.goto-item:hover {
	color:@color4;
}

.user-picture {
	border-radius: 100%;
	box-sizing: content-box;
	overflow: hidden;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.user-picture-small {
	height: 40px;
	width: 40px;
	float:left;
	cursor:pointer;
}
.user-picture-medium {
	height: 55px;
	width: 55px;
	float:left;
	cursor:pointer;
}
.user-picture-big {
	height: 200px;
	width: 200px;
	margin:auto;
}
.user-picture-small img,
.user-picture-medium img,
.user-picture-big img {
	width: inherit;
}
.user-information {
	margin-left:75px;
	margin-right:30px;
}
.user-rating {
	margin-bottom: 0px !important;
	cursor: pointer;
}
.user-rating label {
	margin-top:0px!important;
}
.user-name {
	margin: 0 0 2px 0;
}
.user-rating-count {
	padding-left:2px;
	font-size: 11px;
	line-height: 15px;
}
.user-name a {
	color: @color4;
}

.search-box,
.search-box {
	-moz-box-sizing: border-box;
	-moz-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	background: @color1;
	border-color: @color2;
	border-radius: 0;
	border-style: solid;
	border-width: 0 2px 2px 2px;
	box-sizing: border-box;
	display: block;
	list-style: none;
	outline: none;
	padding: 8px 10px;
	width: 100%;
	li {
		padding-bottom:5px;
		&:last-child {
			padding-bottom:0px;
		}
		a {
			color: @color4;
			cursor: pointer;
			font-size: 13px;
			&:hover {
				color: @color6;
			}
			&:focus {
				color: @color6;
			}
		}
	}
}

.search-box-link {
	&:before {
		content: "\00BB";
		cursor: default;
		padding-right: 3px;
	}
}

.autosize {
	min-height:96px;
}

.popup-logo{
	text-align: center;
	height:100px;
	img{
		height:100px;
	}
}
.badge {
	background-color: @color6;
	padding: 2px 5px 1px 4px!important;
  font-weight: 400!important;
}


/* ==========================================================================
Overlay
=========================================================================== */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
		// background-image: url(/img/bg-blue.jpg);
		background-color: @color5;
		z-index: 99999;
		overflow:hidden;
}


/* ==========================================================================
Flyout
=========================================================================== */
.flyout {
  // visibility: hidden;
  // opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
	width: 200px;
	margin-top: 10px;
	font-size: 11px;
	position: relative;
	top: 150px;
	right: 30px;
	margin-left:9px;
	color: @color4;
	border: 1px solid rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index:99;
	ul {
		margin: 0;
	}
	li {
		padding: 0;
		border-bottom:1px solid rgba(0,0,0,.1);
	}
	li:last-child {
		border:none;
	}
	p {
		font-size: 1.1em;
		line-height: 20px;
		padding: 10px 0px 10px 10px;
		margin-top:0px;
		margin-bottom:0px;
		margin-right:30px;
	}
}
.flyout .open {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.flyout #tip {
	background-image: url('img/tip_grey.png');
	background-repeat: no-repeat;
	background-size: auto;
	height: 11px;
	position: absolute;
	top: -11px;
	right: 29px;
	width: 20px;
}
.flyout #tip0 {
	background-image: url('img/tip_grey.png');
	background-repeat: no-repeat;
	background-size: auto;
	height: 11px;
	position: absolute;
	top: -11px;
	right: 19px;
	width: 20px;
}
.flyout-header {
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,.1);
	h2{
		padding:0px 10px;
	}
}

.flyout-content {
	background: white;
	max-height: 426px;
	overflow-y: hidden;
}
.flyout-content-null p {
	margin-right: 0px!important;
}
.flyout-content-scroll {
	background: white;
	max-height: 426px;
	overflow-y: scroll;
}
.flyout-item-details {
	cursor:pointer;
}
.flyout-item-xdiv  {
  position: relative;
	float:right;
  top: -45px;
	right:8px;
	height: auto;
  -webkit-transition: margin-right 250ms;
  z-index: 999;
	cursor:pointer;
}
.flyout-item-xdiv-unread {
	position: absolute;
	top:-3px;
	right:0px;
  background-image: url(/img/notifications.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -21px -64px;
  display: block;
  height: 18px;
  width: 18px;
}
.flyout-item-xdiv-read {
	position: absolute;
	top:-3px;
	right:0px;
  background-image: url(/img/notifications.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -63px -64px;
  display: block;
  height: 18px;
  width: 18px;
}
.flyout-item-xdiv-read:hover {
    background-position: -21px -64px;
}
.flyout-item-xdiv-delete {
	position: absolute;
	top:17px;
	right:0px;
	background-image: url(/img/notifications.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -16px -97px;
	display: block;
	height: 18px;
	width: 18px;
}
.flyout-item-xdiv-delete:hover {
	background-position: 2px -97px;
}
.flyout-content-null {
	text-align: center;
}
.flyout-footer {
	border-top: 1px solid rgba(0,0,0,.1);
	text-align: center;
	cursor:pointer;
	padding: 0px 10px;
}
.flyout-footer:hover {
	text-decoration: underline;
}


/* ==========================================================================
Sky-Forms Adjustments
=========================================================================== */
.sprawl-box {
	header .subtitle {
		font-size: 13px;
		padding-right:20px;
		padding-left:20px;
	}
	header .header-action-left {
		padding:0px 10px;
		margin-top:-3px;
		margin-left:-10px;
		float:left;
		cursor: pointer;
	}
	header .header-action-right {
		padding:0px 10px;
		margin-top:-1px;
		margin-right:-9px;
		float:right;
		cursor: pointer;
	}
	.label {
		margin-bottom: 6px;
		line-height: 13px
	}
	.icon-append {
		cursor: pointer;
		z-index:999;
	}
	.toggle {
		margin-bottom: 0px!important;
	}
	.toggle.state-success input + i {
		background-color: inherit;
		margin-top:-1px!important;
	}
}

.sprawl-box .action-button {
	float:right;
	padding-left: 16px;
	font-size: 11px;
	line-height: 15px;
	color: @color3;
}
.sprawl-box .action-button:hover {
	color:@color4;
}

/* ==========================================================================
Media Screen Sizes
=========================================================================== */
// @media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
// @media (max-width:480px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
// @media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
// @media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media screen and (max-width:665px){
	.sprawl-box {margin:24px 8px!important;}
	.popup {margin:32px 16px!important;}
	.message {margin:8px!important;}
	.title {margin:24px 8px!important;}
}

@media screen and (max-width:320px){
	.sprawl-box header {font-size:1.17em;}
}

/* ==========================================================================
Navigation
=========================================================================== */
.navigation{
  width:100%;
  height:56px;
  background-color:white;
	color:@color4;
  position:fixed;
  top:0px;
  // border-bottom: 1px solid rgb(208, 209, 213);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	z-index:999999;

	ul{
		width:100%;
		height: 56px;
    margin:0px auto 0px auto;
		padding:0px;
		list-style:none;
		cursor: pointer;
	}
	ul li{
    width:33.3333%;
		height: 56px;
    float:left;
    text-align:center;
		// font-size:16px;
	}
	ul li i{
		// padding:16.5px;
    margin:16px 18px;
    vertical-align: middle;
    border: none!important;
	}
}

.nav-logo{
	height:46px;
	margin: 6px auto;
}
#topNav{
  .badge{
    margin-left:-22px;
    margin-top:-14px;
    margin-right:9px;
    font-size: 10px;
    padding-left: 5px!important;
  }
}


#floatingBtnLogout {
	background-color:@color5;
}
