<template name="loginBox">

  <form id="loginBox">
    <div class="sprawl-box popup">
      <fieldset class="box-content rounded">

        <!-- <div class="popup-close">
          <a class="jsGotoLastBox">&#10005;</a>
        </div> -->

        <section class="popup-logo">
          <img src="/img/logo.svg"/>
        </section>

        <section style="text-align:center">
          <a href="/signup">Don’t have an Account? Start here.</a>
        </section>

        <section>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input type="text" class="loginForm-username" placeholder="Username">
          </label>
        </section>

        <section>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input type="password" class="loginForm-password" placeholder="Password">
          </label>
        </section>

        <section style="text-align:center">
          <a href="/passwordRecovery">Forgot Password?</a>
        </section>

        <section>
          <button type="submit" class="button nopadding">Log in</button>
        </section>

      </fieldset>
    </div>
  </form>

</template>
