<template name="passwordRecoveryBox">

  {{#if resetPasswordToken}}
    <form id="resetPasswordBox">
      <div class="sprawl-box popup">
        <fieldset class="box-content rounded">

          <div class="popup-close">
            <a class="jsGotoLastBox">&#10005;</a>
          </div>

          <section class="popup-logo">
            <img src="/img/logo.svg"/>
          </section>

          <section>
           <label class="input">
             <i class="icon-append fa fa-lock"></i>
             <input type="password" id="resetPasswordBox-new-password" placeholder="Enter new Password"/>
           </label>
          </section>

          <section>
           <label class="input">
             <i class="icon-append fa fa-lock"></i>
             <input type="password" id="resetPasswordBox-new-password-2" placeholder="Repeat new Password"/>
           </label>
          </section>

          <section>
           <button type="submit" class="button nopadding">Continue</button>
          </section>
        </fieldset>
      </div>
    </form>
  {{else}}
    <form id="passwordRecoveryBox">
      <div class="sprawl-box popup">
        <fieldset class="box-content rounded">

          <section class="popup-logo">
            <img src="/img/logo.svg"/>
          </section>

          <section style="text-align:center">
            <a href="/login">Remember Password? Log in.</a>
          </section>

          <section>
            <label class="input">
              <i class="icon-append fa fa-envelope-o"></i>
              <input type="email" class="passwordRecoveryBox-email" id="recovery-email" placeholder="E-Mail Address">
            </label>
          </section>

          <section>
            <button type="submit" class="button nopadding">Send Me Instructions</button>
          </section>

        </fieldset>
      </div>
    </form>
  {{/if}}

</template>
