<template name="signupBox">

  <form id="signupBox">
    <div class="sprawl-box popup">
      <fieldset class="box-content rounded">

        <section class="popup-logo">
          <img src="/img/logo.svg"/>
        </section>

        <section style="text-align:center">
          <a href="/login">Already have an Account? Log in.</a>
        </section>

        <section class="myAccountBox-name">
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input required type="text" name="signupBox_firstname" placeholder="First name">
          </label>
        </section>

        <section class="myAccountBox-name">
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input required type="text" name="signupBox_lastname" placeholder="Last name">
          </label>
        </section>

        <section>
          <label class="input">
            <i class="icon-append fa fa-home"></i>
            <input required type="text" name="signupBox_homeaddress" placeholder="Address" class="autocomplete">
          </label>
        </section>

        <section>
          <label class="input">
            <i class="icon-append fa fa-envelope"></i>
            <input type="email" placeholder="Email" class="signupBox-email" name="signupBox_email">
          </label>
        </section>

        <br>

        <section>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input type="text" placeholder="Username" class="signupBox-username" name="signupBox_username">
            <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
          </label>
        </section>

        <section>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input type="password" placeholder="Password" class="signupBox-password" name="signupBox_password">
            <b class="tooltip tooltip-bottom-right">Password has to be at least six characters long</b>
          </label>
        </section>

        <section>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input type="password" placeholder="Confirm password" class="signupBox-password2" name="signupBox_password2">
          </label>
        </section>

        <section style="text-align:center">
          <p>
            By signing up, you agree to Sprawl's
            <a href="/policies">Terms & Policies.</a>
          </p>
        </section>

        <section>
          <button type="submit" class="button nopadding">Get Started for FREE</button>
        </section>

      </fieldset>
    </div>
  </form>

</template>
