<template name="chatBox">

  <div class="title size-m">
    <h1>Chat</h1>
  </div>

  {{#with conversation}}
  <form id="chatBox">
    {{autoMarkAsRead}}
    {{#each messages}}
    <div class="sprawl-box message size-m">
      {{#with user}}
      <div class="user-picture user-picture-small jsGotoProfileBox" style="{{float}}">
        <img alt=@{{username}} src={{userpicture}}>
      </div>
      {{/with}}
      <fieldset class="box-content rounded {{position}}">
        <p>{{text}}</p>
        <span class="note" data-livestamp={{sent}}></span>
      </fieldset>
    </div>
    {{/each}}

    <div class="sprawl-box submitBar size-m">
      <fieldset class="addMessageBar rounded">
        <section>
          <label class="textarea">
            <i class="icon-append fa fa-paperclip jsAddAttachment"></i>
            <textarea class="autosize" rows="1" name="msgText" placeholder="Message"></textarea>
            <b class="tooltip tooltip-top-right">Add an attachment</b>
          </label>
          <input type="file" id="uploadAttachment" class="myFileInput" style="display:none">
        </section>

        <section>
          <button type="submit" class="button nopadding">Send Message</button>
        </section>
      </fieldset>
    </div>
  </form>
  {{/with}}

</template>
