@import "/client/styles/colors.import.less";

#chatBox {
  .autosize {
    min-height: 20px!important;
  }
  .addMessageBar {
    background-color: white;
  }
  .message {
    border:none!important;
    border-radius: 10px!important;
    margin-bottom: 8px!important;
  }
  .submitBar {
    margin-top: 24px!important;
  }
  .note {
    float:right;
  }
  .box-content {
    border-width: 1px;
    border-style: solid;
    border-top-color: #e5e6e9;
    border-right-color: #dfe0e4;
    border-bottom-color: #d0d1d5;
    border-left-color: #dfe0e4;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 100px;
  }
  .myMessage{
    margin-left: 100px;
    margin-right: 50px;
  }
  .user-picture {
    margin-top:1px;
  }
  fieldset {
    padding: 10px;
  }
}
