@import "/client/styles/colors.import.less";

/* ==========================================================================
ConversationsBox
=========================================================================== */

#myConversationsBox {

  .box-item:first-of-type {
    border-radius:3px 3px 0 0;
  }
  .box-item:last-of-type {
	  border-radius:0 0 3px 3px;
  }
  .box-item:only-of-type {
    border-radius:3px 3px 3px 3px;
  }
  .myConversationsBox-item-content {
  	margin-left:75px;
    .conversation-user {
      font-weight: bold;
    }
    .note {
      float:right;
    }
    .conversation-msg {
      color:@color3;
    }
    .badge {
      float:right;  
    }
  }

}
