<template name="myConversationsBox">

  <div class="title size-m">
    <h1>Conversations</h1>
  </div>

    <div id="myConversationsBox" class="sprawl-box size-m">
    {{#if conversations.count}}
      {{#each conversations}}
      <fieldset class="box-item" id={{_id}}>
        <section style="padding-bottom:15px">
          {{#with user}}
          <div class="user-picture user-picture-medium jsGotoProfileBox" id={{ownerId}}>
            <img alt=@{{username}} src={{userpicture}}>
          </div>
          {{/with}}

          <div class="myConversationsBox-item-content">
            <span class="timestamp note" data-livestamp="{{lastMsgSent}}"></span>
            <p><a class="conversation-user">@{{user.username}}</a></p>
            {{#if unreadCount}}<span class="badge">{{unreadCount}}</span>{{/if}}
            <p class="conversation-hashtag">{{hashtag}}</p>
            <p class="conversation-msg">{{lastMsg}} ...</p>
          </div>

        </section>
      </fieldset>
      {{/each}}
    {{else}}
      <fieldset class="box-null">
        <section>
          <h2>Oops! Nothing going on...</h2>
          <a>Need some help?</a>
        </section>
      </fieldset>
    {{/if}}
    </div>

</template>
