@import "/client/styles/colors.import.less";s

#addRequestBox {
  // .button {
  //   background-color: @color9;
  // }
  .attachment {
    color:@color3;
  }
  .attachment i:hover {
    color:@color4;
  }
}
