<template name="addRequestBox">

  <form id="addRequestBox">

    <div class="sprawl-box popup">
      <fieldset class="box-content rounded">

        <div class="popup-close">
          <a class="jsGotoLastBox">&#10005;</a>
        </div>

        <section class="popup-logo">
          <img src="/img/logo.svg"/>
        </section>

        <section style="text-align:center">
          <a class="">What are you looking for?</a>
        </section>

        <section class="nopadding">
          {{> searchHashtag}}

          <section>
            <label class="textarea">
              <i class="icon-append fa fa-paperclip jsAddAttachment"></i>
              <textarea class="autosize" rows="4" name="addDescription" placeholder="Description"></textarea>
              <b class="tooltip tooltip-top-right">Add an attachment</b>
            </label>
            <input type="file" id="uploadAttachment" class="myFileInput" style="display:none">
          </section>

          <!-- DEV: tempAttachment styling -->
          {{#if tempAttachment}}
          <section style="height:18px;">
            <label class="details attachment">
              <i class="fa fa-trash-o fa-lg jsDeleteAttachment" style="cursor:pointer"></i>
              <span>{{tempAttachment.name}}</span>
            </label>
            <br>
          </section>
          {{/if}}
        </section>

        <section style="text-align:center">
          <a class="jsAddRequestBoxOptionsToggle">Advanced Options?</a>
        </section>


        <div id="addRequestBoxOptions" style="display:none;">
        <section>
          <label class="label">When do you need it?</label>
          <hr>
        </section>

        <section>
          <div class="row">
            <div class="col col-3">
              <label class="radio jsAddRequestBoxAsap"><input type="radio" name="date" value="asap" checked=""><i></i>Asap</label>
            </div>
            <div class="col col-3">
              <label class="radio jsAddRequestBoxDueDate"><input type="radio" name="date" value="duedate"><i></i>Due date</label>
            </div>
            <div class="col col-3">
              <label class="radio jsAddRequestBoxFixDate"><input type="radio" name="date" value="fixdate"><i></i>Fix date</label>
            </div>
            <div class="col col-3">
              <label class="radio jsAddRequestBoxRange"><input type="radio" name="date" value="range"><i></i>Range</label>
            </div>
          </div>
        </section>

        <section class="addRequestBox-dueDate nopadding" style="display:none;">
            <div class="row">
              <section class="col col-6">
                <label class="input">
                  <i class="icon-append fa fa-calendar"></i>
                  <input type="text" name="dueDate" id="addRequest-dueDate" placeholder="Due date">
                </label>
              </section>
              <section class="col col-6">
                <label class="input">
                  <i class="icon-append fa fa-clock-o"></i>
                  <input type="text" name="dueTime" id="addRequest-dueTime" placeholder="Due time">
                </label>
              </section>
            </div>
        </section>

        <section class="addRequestBox-fixDate nopadding" style="display:none">
          <div class="row">
            <section class="col col-6">
              <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input type="text" name="fixDate" id="addRequest-fixDate" placeholder="Fix date">
              </label>
            </section>
            <section class="col col-6">
              <label class="input">
                <i class="icon-append fa fa-clock-o"></i>
                <input type="text" name="fixTime" id="addRequest-fixTime" placeholder="Fix time">
              </label>
            </section>
          </div>
        </section>

        <section class="addRequestBox-range nopadding" style="display:none">
          <div class="row">
            <section class="col col-6">
              <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input type="text" name="startDate" id="addRequest-startdate" placeholder="Starting Date">
              </label>
            </section>
            <section class="col col-6">
              <label class="input">
                <i class="icon-append fa fa-clock-o"></i>
                <input type="text" name="startTime" id="addRequest-starttime" placeholder="Starting Time">
              </label>
            </section>
          </div>

          <div class="row">
            <section class="col col-6">
              <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input type="text" name="endDate" id="addRequest-enddate" placeholder="Ending Date">
              </label>
            </section>
            <section class="col col-6">
              <label class="input">
                <i class="icon-append fa fa-clock-o"></i>
                <input type="text" name="endTime" id="addRequest-endtime" placeholder="Ending Time">
              </label>
            </section>
          </div>
        </section>

        <br>

        <section>
          <label class="label">Where do you need it?</label>
          <hr>
        </section>

        <section>
          <div class="row">
            <div class="col col-3">
              <label class="radio jsAddRequestBoxCurrentLocation"><input type="radio" name="location" id="addRequestBox_currentLocation_toggle"><i></i>Here</label>
            </div>
            <div class="col col-3">
              <label class="radio jsAddRequestBoxHomeLocation"><input type="radio" name="location" id="addRequestBox_homeLocation_toggle" checked=""><i></i>At home</label>
            </div>
            <div class="col col-6">
              <label class="radio jsAddRequestBoxOtherLocation"><input type="radio" name="location" id="addRequestBox_otherLocation_toggle"><i></i>Somewhere else</label>
            </div>
          </div>
        </section>

        <section class="addRequestBox-otherLocation nopadding" style="display:none">
          <div class="row">
            <section class="col col-12">
              <label class="input">
                <i class="icon-append fa fa-map-marker"></i>
                <input class="autocomplete" type="text" id="addRequestBox_otherLocation">
              </label>
            </section>
          </div>
        </section>
        <br>
        <section style="text-align:center">
          <a class="jsAddRequestBoxReset">Reset?</a>
        </section>

        </div>

        <section>
          <button type="submit" class="button nopadding">Sprawl!</button>
        </section>

      </fieldset>
    </div>

  </form>
</template>
