<template name="myRequestsBox">

  <div class="title size-m">
    <h1>My Requests</h1>
  </div>

  <form id="myRequestsBox" class="sprawl-box size-m">
    {{#if myRequests.count}}
      {{#each myRequests}}
      <fieldset class="box-item border-blue" id={{_id}}>
        <a class="action-button"><i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i></a>
        <div class="box-item-details">
          <div>
            <p><b>{{hashtag}}</b></p>
            <span class="note"><i class="fa fa-clock-o"></i> {{date.text}}</span><br>
            <span class="note"><i class="fa fa-map-marker"></i> {{address}}</span><br>
          </div>
        </div>
        <!-- <div class="delete-item jsDeleteRequest" title="delete Request">
          <i class="fa fa-trash-o fa-lg"></i>
        </div> -->
      </fieldset>
      {{/each}}
    {{else}}
      <fieldset class="box-null rounded">
          <section>
            <h2>Oops! Nothing going on...</h2>
            <a>Need some help?</a>
          </section>
      </fieldset>
    {{/if}}
  </form>

  {{floatingButton}}

</template>
