<template name="navigationBar">

  {{#if currentUser}}
    <div id="topNav" class="navigation">
      <div class="container">
      <ul class="size-m">
        <li class="jsGotoMenuBox" style="text-align:left;">
          <a href="/menu" style="color:inherit"><i class="material-icons">menu</i></a>
        </li>

        <li class="jsGotoAddRequestBox" style="text-align:center;"><a href="/"><img class="nav-logo" src="/img/logo.svg"/></a></li>

        <li class="jsGotoMyNotificationsBox" style="text-align:right;">
          <a href="/notifications" style="color:inherit"><i class="material-icons">notifications_none</i><span class="badge">{{notificationsCount}}</span></a>
        </li>
      </ul>
      </div>
    </div>
  {{/if}}

</template>
