@import "/client/styles/colors.import.less";

/* ==========================================================================
Navigation
=========================================================================== */
.navigation{
  width:100%;
  height:56px;
  background-color:white;
	color:@color4;
  position:fixed;
  top:0px;
  // border-bottom: 1px solid rgb(208, 209, 213);
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	z-index:999999;

	ul{
		width:100%;
		height: 56px;
    margin:0px auto 0px auto;
		padding:0px;
		list-style:none;
		cursor: pointer;
	}
	ul li{
    width:33.3333%;
		height: 56px;
    float:left;
    text-align:center;
		// font-size:16px;
	}
	ul li i{
		// padding:16.5px;
    margin:16px 18px;
    vertical-align: middle;
    border: none!important;
	}
}

.nav-logo{
	height:46px;
	margin: 6px auto;
}
#topNav{
  .badge{
    margin-left:-22px;
    margin-top:-14px;
    margin-right:9px;
    font-size: 10px;
    padding-left: 5px!important;
  }
}
