<body>

  {{> navigationBar}}

  <div id="viewport" class="container">
    <div class="content">
      {{> Template.dynamic template=content}}
    </div>
  </div>

  {{#if currentUser}}
  <div id="btnLogout" class="floatingButton jsLogout">
    <i class="material-icons">exit_to_app</i>
  </div>
  {{/if}}

</body>
