<template name="owner">

  {{#with owner}}
  <section class="jsGotoProfileBox" id={{_id}}>
    <div class="user-picture user-picture-medium">
      <img alt=@{{username}} src={{userpicture}}>
    </div>
    <div class="user-information">
      {{> userRatingOverall}}
      <h2 class="user-name"><a>@{{username}}</a></h2>
      <a class="user-rating-count">{{ratingCount}} {{ratingCountLabel}}</a>
    </div>
  </section>
  {{/with}}

</template>
