<template name="shortDescription">
  {{#if shortDescription}}
  <hr style="margin-top:-6px;margin-bottom:16px">
  <section class="box-description-{{_id}}">
    <p>{{shortDescription}} ...
    <a class="note jsShortDescriptionToggle"> &raquo; Read more</a>
    </p>
  </section>
  <section class="box-description-{{_id}}" style="display:none">
    <p>{{description}}
    <a class="note jsShortDescriptionToggle"> &laquo; Show less</a>
    </p>
    {{#if attachment}}
      <label class="details" style="margin-top:10px;"><i class="fa fa-paperclip fa-lg"></i><a>{{attachment.name}}</a></label>
    {{/if}}
  </section>
  {{else}}
  <hr style="margin-top:-6px;margin-bottom:16px">
  <section class="box-description-{{_id}}">
    <p>{{description}}</p>
    {{#if attachment}}
      <label class="details" style="margin-top:10px;"><i class="fa fa-paperclip fa-lg"></i><a>{{attachment.name}}</a></label>
    {{/if}}
  </section>
  {{/if}}
</template>
