<template name="myNotificationsBox">

  <div class="title size-m">
    <h1>Notifications</h1>
  </div>

  {{#if notifications.count}}
    {{#each notifications}}
    <div id="myNotificationsBox" class="sprawl-box size-m">
    <fieldset class="box-item" id={{_id}}>
      <section>
        {{#with owner}}
        <div class="user-picture user-picture-small jsGotoProfileBox" id={{ownerId}}>
          <img alt=@{{username}} src={{userpicture}}>
        </div>
        {{/with}}

        <div class="myNotificationsBox-item-content">
          {{notificationContent}}
        </div>

        {{#if statusUnread}}
        <div class="myNotificationsBox-item-xdiv">
          <div class="myNotificationsBox-item-xdiv-unread"></div>
          <div class="myNotificationsBox-item-xdiv-delete" id="myNotificationsBox-item-xdiv-delete-{{_id}}" style="display:none"></div>
        </div>
        {{else}}
        <div class="myNotificationsBox-item-xdiv">
          <div class="myNotificationsBox-item-xdiv-read" id="myNotificationsBox-item-xdiv-read-{{_id}}" style="display:none"></div>
          <div class="myNotificationsBox-item-xdiv-delete" id="myNotificationsBox-item-xdiv-delete-{{_id}}" style="display:none"></div>
        </div>
        {{/if}}
      </section>
    </fieldset>
    </div>
    {{/each}}
  {{else}}
    <div class="sprawl-box size-m">
      <fieldset class="box-null">
        <section>
          <h2>Oops! Nothing going on...</h2>
          <a>Need some help?</a>
        </section>
      </fieldset>
    </div>
  {{/if}}

</template>
