@import "/client/styles/colors.import.less";

/* ==========================================================================
NotificationsBox
=========================================================================== */

#myNotificationsBox {
  .box-item:first-of-type {
    border-radius:3px 3px 0 0;
  }
  .box-item:last-of-type {
	  border-radius:0 0 3px 3px;
  }
  .box-item:only-of-type {
    border-radius:3px 3px 3px 3px;
  }
  .myNotificationsBox-item-content {
  	margin-left:60px;
  	margin-right:25px;
  }
  .myNotificationsBox-item-xdiv {
    position: relative;
  	float:right;
    top: -34px;
  	right: -3px;
  	height: auto;
    -webkit-transition: margin-right 250ms;
    z-index: 999;
  	cursor:pointer;
  }
  .myNotificationsBox-item-xdiv-unread {
  	position: absolute;
  	top:-3px;
  	right:0px;
    background-image: url(/img/notifications.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -21px -64px;
    display: block;
    height: 18px;
    width: 18px;
  }
  .myNotificationsBox-item-xdiv-read {
  	position: absolute;
  	top:-3px;
  	right:0px;
    background-image: url(/img/notifications.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -63px -64px;
    display: block;
    height: 18px;
    width: 18px;
  }
  .myNotificationsBox-item-xdiv-read:hover {
      background-position: -21px -64px;
  }

  .myNotificationsBox-item-xdiv-delete {
  	position: absolute;
  	top:17px;
  	right:0px;
  	background-image: url(/img/notifications.png);
  	background-repeat: no-repeat;
  	background-size: auto;
  	background-position: -16px -97px;
  	display: block;
  	height: 18px;
  	width: 18px;
  }
  .myNotificationsBox-item-xdiv-delete:hover {
  	background-position: 2px -97px;
  }

}
