<template name="menuBox">

  <div class="title size-m">
    <h1>Welcome</h1>
  </div>

  <div class="sprawl-box size-m">
    <fieldset class="box-item rounded">
      {{#with owner}}
        <a href="/profile" style="color:inherit">
        <section class="jsGotoProfileBox" id={{_id}} style="padding-bottom:14px;">
          <div class="user-picture user-picture-medium">
            <img alt=@{{username}} src={{userpicture}}>
          </div>

          <div class="user-information">
            {{> userRatingOverall}}
            <h2 class="user-name"><a>@{{username}}</a></h2>
            <a class="user-rating-count">{{ratingCount}} {{ratingCountLabel}}</a>
          </div>
          <i class="goto-item fa fa-angle-right fa-2x" style="margin-top:-47px"></i>
        </section>
        </a>
      {{/with}}
    </fieldset>
  </div>

  <div class="sprawl-box size-m">

    <fieldset class="box-item jsGotoInbox rounded-top">
      <a href="/inbox" style="color:inherit">
      <section>
        <i class="fa fa-bolt fa-lg" style="float:left;margin-top:2px;margin-left:4px;font-size:19px"></i>
        <h2 style="padding-left:30px">Inbox</h2>
        <i class="goto-item fa fa-angle-right fa-2x"></i>
      </section>
      </a>
    </fieldset>

    <fieldset class="box-item jsGotoMyConversationsBox">
      <a href="/conversations" style="color:inherit">
      <section>
        <i class="fa fa-comment-o fa-lg" style="float:left;margin-top:1px;"></i>
        <h2 style="padding-left:30px">Conversations</h2>
        <i class="goto-item fa fa-angle-right fa-2x"></i>
      </section>
      </a>
    </fieldset>
    <fieldset class="box-item jsGotoMyRequestsBox">
      <a href="/requests" style="color:inherit">
      <section>
        <i class="fa fa-send-o fa-lg" style="float:left;margin-top:3px;"></i>
        <h2 style="padding-left:30px">My Requests</h2>
        <i class="goto-item fa fa-angle-right fa-2x"></i>
      </section>
      </a>
    </fieldset>
    <fieldset class="box-item jsGotoMySubscriptionsBox rounded-bottom">
      <a href="/subscriptions" style="color:inherit">
      <section>
        <i class="material-icons" style="float:left;margin-top:-3px;margin-left:-2px;font-size:21px;">track_changes</i>
        <h2 style="padding-left:30px">My Subscriptions</h2>
        <i class="goto-item fa fa-angle-right fa-2x"></i>
      </section>
      </a>
    </fieldset>
  </div>

  <div class="sprawl-box size-m">
    <fieldset class="box-item jsGotoMySettingsBox rounded">
      <a href="/settings" style="color:inherit">
      <section>
        <i class="fa fa-cogs fa-lg" style="float:left;margin-top:3px;margin-left:1px;"></i>
        <h2 style="padding-left:30px">Settings</h2>
        <i class="goto-item fa fa-angle-right fa-2x"></i>
      </section>
      </a>
    </fieldset>
  </div>

</template>
