<template name="searchHashtag">
  
  <section>
    <label class="input">
      <i class="icon-append fa fa-search jsSearchBoxToggle"></i>
      <input type="text" id="searchHashtag-hashtag" name="searchHashtag_hashtag" placeholder="#Hashtag or Keyword">
    </label>
    <!-- DEV: Kategorien -->
    <div class="search-box" style="display:none">
      {{#if hashtags.count}}
        {{#each hashtags}}
        <li>
          {{#each ancestors}}
          <a class="search-box-link jsSelectHashtag" href="{{_id}}">{{name}}</a>
          {{/each}}
          <a class="search-box-link jsSelectHashtag" href="{{_id}}">{{name}}</a>
        </li>
        {{/each}}
      {{else}}
        <li>
          <span class="note">Nothing found...</span>
        </li>
      {{/if}}
    </div>
  </section>

</template>
