<template name="footer">
    <div class="footer container">
      <p><a class="jsGotoPoliciesBox">Terms & Policies</a></p>
      <p><span>© Sprawl 2016</span></p>
      <p><a class="jsResetCollections">Reset</a></p>
    </div>
</template>
