@import "/client/styles/colors.import.less";

#addSubscriptionBox {
  .irs-from, .irs-to, .irs-single,
  {
    background-color: @color3;
  }
  .button {
    background-color: @color8;
  }
}



/* Ion.RangeSlider, Modern Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: url(img/sprite-skin-modern.png) repeat-x;
}

.irs {
    height: 20px;
    // margin-right:8px!important;
}
.irs-with-grid {
    height: 70px;
}
.irs-line {
    height: 6px; top: 8px; left:15px;
    width:100%;
}
    .irs-line-left {
        height: 6px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 6px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 6px;
        background-position: 100% -30px;
        margin-right: 15px!important;
    }

.irs-bar {
    height: 6px; top: 8px;
    background-position: 0 -60px;
}
    .irs-bar-edge {
        top: 8px;
        left: 1px;
        height: 6px; width: 6px;
        background-position: 0 -90px;
    }

.irs-shadow {
    height: 5px; top: 8px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    display: none!important;
    width: 11px; height: 18px;
    top: 18px;
    background-position: 0 -120px;
}
.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}

.irs-min, .irs-max {
    color: @color3;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: none;
}

.irs-from, .irs-to, .irs-single {
    z-index: 99999;
    color: @color1;
    font-size: 11px; line-height: 1.333;
    text-shadow: none;
    padding: 3px 7px!important;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0.8;
}
.irs-from:hover, .irs-to:hover, .irs-single:hover {
    opacity: 1;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -6px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px!important;
    overflow: hidden;
    border: 3px solid transparent;
}

.irs-grid {
    height: 34px;
}
.irs-grid-pol {
    background: #c0c0c0;
}
.irs-grid-text {
    bottom: 12px;
    color: #c0c0c0;
}

.irs-disable-mask {

}
.irs-disabled {

}
.lt-ie9 .irs-disabled {

}
