<template name="addSubscriptionBox">

  <form id="addSubscriptionBox">
    <div class="sprawl-box popup">
      <fieldset class="box-content rounded">

        <div class="popup-close">
          <a class="jsGotoLastBox">&#10005;</a>
        </div>

        <section class="popup-logo">
          <img src="/img/logo.svg"/>
        </section>

        <section style="text-align:center">
          <a class="">Subscribe Hashtag?</a>
        </section>

        <section class="nopadding">
          {{> searchHashtag}}
        </section>

        <section class="nomargin">
          <input type="rangeslide" id="addSubscriptionBox-radius" name="addSubscriptionBox_radius"/>
        </section>

        <section style="text-align:center">
          <a class="jsAddRequestBoxOptionsToggle">Advanced Options?</a>
        </section>
        
        <section>
          <button type="submit" class="button nopadding">Sponge!</button>
        </section>
      </fieldset>

    </div>
  </form>

</template>
