@import "/client/styles/colors.import.less";

#mySubscriptionsBox {
  .box-item:first-of-type {
    border-radius:3px 3px 0 0;
  }
  .box-item:last-of-type {
	  border-radius:0 0 3px 3px;
  }
  .box-item:only-of-type {
    border-radius:3px 3px 3px 3px;
  }
}

#floatingBtnNewSubscription {
	background-color:@color8;
}
