<template name="mySubscriptionsBox">

  <div class="title size-m">
    <h1>My Subscriptions</h1>
  </div>

  <form id="mySubscriptionsBox" class="sprawl-box size-m">
    {{#if mysubscriptions.count}}
      {{#each mysubscriptions}}
      <fieldset class="box-item border-green" id={{_id}}>
          <section>
              <div class="box-item-details">
                <h2>{{hashtag}}</h2>
                <a>Radius: {{radius}}km</a>
              </div>
              <div class="delete-item jsDeleteSubscription" title="unsubscribe">
                <i class="fa fa-trash-o fa-lg"></i>
              </div>
          </section>
      </fieldset>
      {{/each}}
    {{else}}
      <fieldset class="box-null rounded">
          <section>
            <h2>Oops! Nothing going on...</h2>
            <a>Need some help?</a>
          </section>
      </fieldset>
    {{/if}}

  </form>

  {{floatingButton}}

</template>
