<template name="addReplyBox">
    {{#with request}}
    <form id="addReplyBox">
      <div class="sprawl-box popup">
        <fieldset class="box-content rounded">

          <div class="popup-close">
            <a class="jsGotoLastBox">&#10005;</a>
          </div>

          <section class="popup-logo">
            <img src="/img/logo.svg"/>
          </section>

          <section style="text-align:center">
            {{#with user}}
            <a>Reply to @{{username}}?</a>
            {{/with}}
            <p class="note">{{hashtag}}</p>
          </section>

          <section>
            <label class="textarea">
              <i class="icon-append fa fa-paperclip jsAddAttachment"></i>
              <textarea class="autosize" rows="4" name="msgText" placeholder="Message"></textarea>
              <b class="tooltip tooltip-top-right">Add an attachment</b>
            </label>
            <input type="file" id="uploadAttachment" class="myFileInput" style="display:none">
          </section>

          <!-- DEV: tempAttachment styling -->
          {{#if tempAttachment}}
          <section style="height:18px;">
            <label class="details attachment">
              <i class="fa fa-trash-o fa-lg jsDeleteAttachment" style="cursor:pointer"></i>
              <span>{{tempAttachment.name}}</span>
            </label>
            <br>
          </section>
          {{/if}}

          <section>
            <button type="submit" class="button nopadding">Send Message</button>
          </section>
        </fieldset>

      </div>
    </form>
    {{/with}}
</template>
