<template name="inbox">

  <div class="title size-m">
    <h1>Inbox</h1>
  </div>

  {{#if incomingRequests}}
    {{#each incomingRequests}}
    <div class="sprawl-box size-m">
    <fieldset class="box-item border-blue rounded" id={{_id}}>
      <a class="action-button"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
      {{> owner}}
      <hr style="margin-top:-6px;margin-bottom:16px">
      <section>
        <label class="details"><i class="fa fa-slack fa-lg rotate"></i>{{hashtag}}</label>
        <label class="details"><i class="fa fa-clock-o fa-lg"></i>{{date.text}}</label>
        <label class="details"><i class="fa fa-map-marker fa-lg"></i>{{address}}</label>
      </section>
      {{> shortDescription}}
      <hr style="margin-top:-6px;margin-bottom:14px">
      <section style="padding-bottom:16px;">
        <span class="note">{{status}} &#183; <span data-livestamp={{timestamp}}></span></span>
        <a class="note action-button jsGotoAddReplyBox"><i class="fa fa-reply fa-2x" style="font-size:20px; padding-top:3px;" aria-hidden="true"></i></a>
        <a class="note action-button"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
      </section>
    </fieldset>
    </div>
    {{/each}}
  {{else}}
    <div class="sprawl-box size-m">
      <fieldset class="box-null">
          <section>
            <h2>Oops! Nothing going on...</h2>
            <a>Need some help?</a>
          </section>
      </fieldset>
    </div>
  {{/if}}

</template>
