@import "/client/styles/colors.import.less";

.profileBox-picture {
	padding-left:20.72px!important;
	// padding-top:20px!important;
}
.profileBox-username {
	text-align: center;
	font-size: 25px;
	padding-bottom:4px;
}
.profileBox-user-rating {
	text-align: center;
	cursor: pointer;
}
.profileBox-ratings label {
	margin-top:2px!important;
}
.jsEditProfilePicture {
	cursor: pointer;
}
#floatingBtnRateUser {
	background-color:@color10;
}
