<template name="profileEditBox">

{{#with userProfile}}
  <form id="profileEditBox" class="sprawl-box size-m">

    <fieldset class="box-content rounded">

      <div class="popup-close">
        <a class="jsGotoLastBox">&#10005;</a>
      </div>

      <section style="text-align: center;">
        <input type="file" id="uploadProfilePicture" class="myFileInput hidden">
        <div class="user-picture user-picture-big jsEditProfilePicture">
          <img alt="{{username}}" src={{userpicture}}>
        </div>
        <br/>
        <a class="jsEditProfilePicture">Change Profile Picture?</a>
      </section>

      <section>
        <label class="textarea">
          <i class="icon-append fa fa-pencil"></i>
          <textarea required class="autosize" rows="4" name="description" placeholder="Description" value={{profile.details.description}}></textarea>
        </label>
      </section>

      <br>

      <section class="myAccountBox-name">
        <label class="label">Personal Details:  <i class="material-icons" style="color:#82d3e1;font-size:17px;">lock_outline</i></label>
        <hr>
        <br>
        <label class="input">
          <i class="icon-append fa fa-user"></i>
          <input required type="text" name="firstname" placeholder="First name" value={{profile.details.firstname}}>
        </label>
      </section>

      <section class="myAccountBox-name">
        <label class="input">
          <i class="icon-append fa fa-user"></i>
          <input required type="text" name="lastname" placeholder="Last name" value={{profile.details.lastname}}>
        </label>
      </section>

      <section>
        <label class="input">
          <i class="icon-append fa fa-home"></i>
          <input required type="text" name="homeaddress" placeholder="Home Address" value={{profile.details.homeaddress}} class="autocomplete">
        </label>
      </section>

      <!-- <br> -->
      <section style="text-align:center">
        <a class="js">Delete Account?</a>
      </section>

      <section>
        <button type="submit" class="button nopadding">Save</button>
      </section>
    </fieldset>

  </form>
{{/with}}

</template>
