<template name="profileBox">

  {{#with owner}}
    <div class="title size-m">
      <h1>Profile</h1>
    </div>

    <div id="profileBox" class="sprawl-box size-m">
      <fieldset class="box-content rounded">
        <a class="action-button {{#if profileOwner}}jsGotoProfileEditBox{{/if}}"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i></a>
        <section class="profileBox-picture">
          <div class="user-picture user-picture-big">
            <img alt="{{username}}" src={{userpicture}}>
          </div>
        </section>
        <section class="profileBox-details">
            <h1 class="profileBox-username">@{{username}}</h1>
            <div class="profileBox-user-rating jsScrolltoRatings">
              {{> userRatingOverall}}<br>
              <a>{{ratingCount}} {{ratingCountLabel}}</a>
            </div>
        </section>
        <hr>
        <br>
        <section class="profileBox-description">
          <p>
            {{profile.details.description}}
          </p>
        </section>
      </fieldset>
    </div>

    <div id="profileBox-ratings" class="sprawl-box size-m">
      <fieldset class="box-content rounded">
        <section class="profileBox-ratings nopadding">
          <div class="row nomargin">
          <div class="col-sm-5">
            <section>
                {{> userRatingServices}}
            </section>
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-5">
            <section>
              {{> userRatingActivities}}
            </section>
          </div>
        </div>
        </section>
      </fieldset>
    </div>

    <div class="sprawl-box size-m">
      <fieldset class="box-content border-orange rounded">
        <section>
          <p><b>Verdammt schnell</b></p>
          <p class="note">by @admin on 31. June 2016</p>
        </section>
        <hr style="margin-top:-6px;margin-bottom:14px">
        <section>
          {{profile.details.description}}
        </section>
      </fieldset>
    </div>
    <div class="sprawl-box size-m">
      <fieldset class="box-content border-orange rounded">
        <section>
          <p><b>War sehr schön</b></p>
          <p class="note">by @admin on 31. June 2016</p>
        </section>
        <hr style="margin-top:-6px;margin-bottom:14px">
        <section>
          {{profile.details.description}}
        </section>
      </fieldset>
    </div>
    <div class="sprawl-box size-m">
      <fieldset class="box-content border-orange rounded">
        <section>
          <p><b>War sehr schön</b></p>
          <p class="note">by @admin on 31. June 2016</p>
        </section>
        <hr style="margin-top:-6px;margin-bottom:14px">
        <section>
          {{profile.details.description}}
        </section>
      </fieldset>
    </div>
    <div class="sprawl-box size-m">
      <fieldset class="box-content border-orange rounded">
        <section>
          <p><b>Perfekt</b></p>
          <p class="note">by @test on 12. Mai 2016</p>
        </section>
        <hr style="margin-top:-6px;margin-bottom:14px">
        <section>
          {{profile.details.description}}
        </section>
      </fieldset>
    </div>

  {{/with}}

  {{floatingButton}}

</template>
