<template name="userRatingOverall">
  <span class="user-rating rateit" data-rateit-value={{profile.ratings.overall}} data-rateit-ispreset="true" data-rateit-readonly="true"></span>
</template>

<template name="userRatingServices">
  <div class="rating">
      <label>
        <div class="rateit profileBox-stars" data-rateit-value={{profile.ratings.overall}} data-rateit-ispreset="true" data-rateit-readonly="true"></div>
      </label>
      <b>Services<span class="note"> ({{ratingCount}})</span></b>
  </div>
  <div class="rating">
      <label>
        <div class="rateit profileBox-stars" data-rateit-value={{profile.ratings.quality}} data-rateit-ispreset="true" data-rateit-readonly="true"></div>
      </label>
      Quality
  </div>
  <div class="rating">
      <label>
        <div class="rateit profileBox-stars" data-rateit-value={{profile.ratings.reliability}} data-rateit-ispreset="true" data-rateit-readonly="true"></div>
      </label>
      Reliability
  </div>
</template>

<template name="userRatingActivities">
  <div class="rating">
      <label>
        <div class="rateit profileBox-stars" data-rateit-value={{profile.ratings.overall}} data-rateit-ispreset="true" data-rateit-readonly="true"></div>
      </label>
      <b>Activities<span class="note"> ({{ratingCount}})</span></b>
  </div>
  <div class="rating">
      <label>
        <div class="rateit profileBox-stars" data-rateit-value={{profile.ratings.quality}} data-rateit-ispreset="true" data-rateit-readonly="true"></div>
      </label>
      Fun Factor
  </div>
  <div class="rating">
      <label>
        <div class="rateit profileBox-stars" data-rateit-value={{profile.ratings.reliability}} data-rateit-ispreset="true" data-rateit-readonly="true"></div>
      </label>
      Reliability
  </div>
</template>
